{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Brief Introduction
{% endblock %}

{% block content %}
    <style>
        input.largerCheckbox {
            width: 19px;
            height: 19px;
        }
    </style>

<body onload="pageLoading()">

        <div style="font-size: 22px;">
            <p>
                <strong>Your participant ID is: {{ participant.code }}</strong>
                Please make a note of your participant ID now! This is needed for your final payout!
                _______________________________________________________________________________________________
                <br>
            </p>
            <!-- Rest of your consent page content -->

        <p>
        Thank you for taking part in our study and helping with our research! This study is about <em>online shopping behaviour</em>.
    </p>
    <p>
        This study involves filling in questionnaires and partaking in a simulated shopping experiment. In the shopping
        simulation, you will be asked to buy groceries. You can obtain a bonus payment for buying particularly tasty groceries.
    </p>
    <p>
        This study is only compatible with a desktop or laptop. Please do not use a mobile or tablet while taking part
        in the study as this may result in your submission being rejected or returned.
    </p>
    <p>
        Please answer all questions truthfully and to the best of your ability. There will be attention checks in the study.
    </p>
    <p>
        Please click "Next" to proceed to the study.

    </p>


      
        </div>
    <br>
                {% next_button %}
        
</body>
{#    <script>#}
{#        function pageLoading() {#}
{#            document.getElementsByClassName("debug-info")[0].style.visibility = "hidden";#}
{#        }#}
{#    </script>#}

{% endblock %}