{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Website for Groceries Delivery Service
{% endblock %}

{% block content %}

<body onload="pageLoading()">

        <div style="font-size: 24px;">

    <p>
        Your shopping list for the barbecue party will pop up as soon as you enter the online shop.
        The list contains five items that you and your friends agreed are absolutely necessary for the barbecue.
    </p>
    <p>
        You can choose among six products for each item. Some of the products are tasty, some are not. If you click on
        the "Info" button available for each product, you will find a product review. You may assume that these reviews
        are given by honest consumers on trusted websites and that they contain true information only.
    </p>
    <p>
        Once you have decided on a product, click on the "Add" button below the picture of the product to add it to your
        cart. You cannot change your choice after adding a product to the cart.
    </p>
    <p>
        After adding a product to the cart, the online shop's recommendation system will show you items that you might
        also want to buy, for a better barbecue experience. You can choose to buy or skip these recommendations.
    </p
    <p>
        You can earn a bonus payment by choosing tasty products for the items on your shopping list. After the study is
        completed, we will randomly select one of your choices for the products on the shopping list. If you choose a
        tasty product, you will get a bonus of €0.50. If you choose a neutral product, you will get a bonus of €0.25. If
        you choose a bad tasting product, you will get no bonus.
    </p>
    <p>
        On the next pages, you will see sample screenshots of the groceries delivery website that summarize the information
        you read here. After that, we will ask you some comprehension questions, so please make sure you understand the
        instructions.
    </p>
        </div>
    <br>
                {% next_button %}
        
</body>
    <script>
        function pageLoading() {
            document.getElementsByClassName("debug-info")[0].style.visibility = "hidden";
        }
    </script>

{% endblock %}