{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Pictorial Instruction (3/3)
{% endblock %}

{% block content %}
<br>

<div>
  <table>
    <tr>
     <td><img src="{%  static "inform.png"%}"></td>
     <td></td>
     <td><p>The delivery service website is also trying to inform shoppers how environmentally friendly their chosen
        products are. You can find information on how eco-friendly a product is by clicking on the "Info" button.</p></td>
    </tr>
  </table>
</div>

<br>
<br>
<br>
    {% next_button %}


{% endblock %}
