{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Comprehension questions (6/6)
{% endblock %}

{% block content %}
<body onload="pageLoading()">
        <br><br><br>
<div style="font-size: 24px;" >

    {% formfields %}
        <br><br>

        <button id="nextButton" class="btn btn-primary"
                onclick="clickNext()">
                <p class=" my-2 my-sm-0">
                    Next
                </p>
        </button>

        <div style="visibility: hidden;">
        {% next_button %}
        </div>

</div>
</body>
    <script>
        function clickNext() {
            document.querySelector("button[class='otree-btn-next btn btn-primary']").click();
        }

        function pageLoading() {
            document.getElementsByClassName("debug-info")[0].style.visibility = "hidden";
        }

    </script>
{% endblock %}


