{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part One
{% endblock %}

{% block content %}

    <body onload="pageLoading()">
        <div style="font-size: 34px;">
        <br>
                <p>In this part, you will be asked to fill in two questionnaires. </p>
                <p>Please take the time to read the questions carefully and answer them as best you can.</p>
        </div>
    <br>



    <script>
        function pageLoading(){
            document.getElementsByClassName("debug-info")[0].style.visibility = "hidden";

        }
    </script>

    {% next_button %}
{% endblock %}


