{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Experiment ended
{% endblock %}

{% block content %}
    <style>
        input.largerCheckbox {
            width: 19px;
            height: 19px;
        }
    </style>

<body onload="pageLoading()">

        <div style="font-size: 22px;">

    <p>           
        The experiment ended because you didn't agree to take part in the experiment.

    </p>
        
</body>
{#    <script>#}
{#        function pageLoading() {#}
{#            document.getElementsByClassName("debug-info")[0].style.visibility = "hidden";#}
{#        }#}
{#    </script>#}
{#    The goal of the present study is to investigate online shopping behavior.#}

{% endblock %}