{% extends "global/Page.html" %}

{% block title %}
    Introduction
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<p>Thank you for participating in our study and contributing to our research! This study focuses on <strong>user interaction and decision-making with digital assistants.</strong></p>

<p>In this study, you will engage with a chatbot. Your goal will be to interact with it, make choices, and provide feedback based on your experience.</p>
<p>This study is <strong>only compatible with a desktop or laptop</strong>. Please do not use a mobile or tablet while taking part in the study as this may result in your submission being rejected or returned.</p>
<p>This study has 3 parts and will take around 10 minutes to complete. We kindly ask you to answer all questions honestly and carefully.</p>

<!-- Consent Checkbox -->
<div>
    <label>
        <input type="checkbox" class="largerCheckbox" required> 
        I have read the information provided and I voluntarily agree to participate in this study.
    </label>
</div>

<br>

<p>Please click "Next" to proceed to the study.</p>

<br>
{% next_button %}
{% endblock %}
