{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part Two - Experiment
{% endblock %}

{% block content %}

    <body onload="pageLoading()">
        <div style="font-size: 34px;">
        <br>
                <p>In this part, you will perform the experiment after reading a short scenario.</p>
                <p>The experiment is not timed, so take your time to read the scenario and perform the experiment.</p>
        </div>
    <br>


    {% next_button %}
{% endblock %}


