{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Friendly Reminder
{% endblock %}

{% block content %}
<body onload="pageLoading()">
    <div style="font-size: 24px;" >
        <p>
            Before the experiment starts, you will answer some comprehension
            questions to make sure that you understand how the experiment works.
        </p>
        <p>
            After the chatbot interaction, you will be asked questions about your experience.
        </p>
        <p>To ensure honest results, please concentrate and do not multi-task during the study. </p>
        <p><b>Please do not refresh the page at any point in the study.</b></p>

    </div>

</body>
    {% next_button %}
        <script>
        function pageLoading() {
            document.getElementsByClassName("debug-info")[0].style.visibility = "hidden";
        }
    </script>
{% endblock %}


