{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Scenario
{% endblock %}

{% block content %}

<body onload="pageLoading()">
    <br>
<div style="font-size: 24px;">
<p>
    Please imagine yourself in the following situation:
</p>

<p>
    You have decided to watch a movie at Rex Cinema tomorrow, but you do not know which movies are currently showing. 
    As you visit their website, you notice a chatbot offering assistance. The chatbot can guide you in selecting a movie and provide all the necessary details for your booking, such as ticket prices, showtimes, and a booking code.
</p>

<p>
    You will interact with the chatbot by selecting a button for your response. 
<strong>Once you choose an answer, you won’t be able to change it</strong>, so please read each message carefully before making your selection. 
</p>
</div>

<br>
    <button type="submit" class="btn btn-primary">
        Start the Experiment
    </button>

</body>

{% endblock %}
